backend/app/tv_series/nfl_players/__pycache__/
backend/app/app/__pycache__/
backend/app/tv_series/__pycache__/
backend/app/tv_series/base/__pycache__/
backend/app/tv_series/base/models/__pycache__/
backend/app/vikings_scraper/vikings_scraper/__pycache__/
backend/app/tv_series/norsemans/__pycache__/
backend/app/tv_series/vikings/__pycache__/
backend/app/vikings_scraper/vikings_scraper/spiders/__pycache__/
backend/app/tv_series/migrations/
backend/.idea/backend.iml
backend/.idea/inspectionProfiles/
backend/.idea/misc.xml
backend/.idea/modules.xml
backend/.idea/vcs.xml
backend/.idea/backend.iml
backend/app/vikings_scraper/celerybeat-schedule
backend/app/scraping/scraping/spiders/__pycache__/
backend/app/api/__pycache__/
backend/app/api/base/__pycache__/
backend/app/api/base/models/__pycache__/
backend/app/api/nfl_players/__pycache__/
backend/app/api/norsemans/__pycache__/
backend/app/config/__pycache__/
backend/app/scraping/scraping/__pycache__/
backend/app/scraping/__pycache__/
backend/app/api/vikings/__pycache__/
