<div class="main-container">
  <header class="main-header">
    <h1>Vikings Application</h1>
    <nav class="main-nav">
      <ul>
        <li><a routerLink="/vikings" routerLinkActive="active">Vikings</a></li>
        <li><a routerLink="/nflplayers" routerLinkActive="active">NFL Players</a></li>
        <li><a routerLink="/norsemans" routerLinkActive="active">Norsemans</a></li>
      </ul>
    </nav>
  </header>

  <main class="main-content">
    <router-outlet></router-outlet>  
  </main>

  <footer class="main-footer">
    <p>&copy; 2025 Vikings Application.</p>
  </footer>
</div>
