# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Python bytecode files
*.pyc
*.pyo
*.pyd
__pycache__/

# Django-specific
*.log
*.pot
*.py[cod]
db.sqlite3
media/

# Virtualenv
venv/
.env/

# Secret keys or sensitive information
*.env
*.secret
secrets/

# IDE files
.vscode/
.idea/

# Celery Beat Schedule files
celerybeat-schedule

# Django migrations
*/migrations/

# Sensitive files
settings.py
app/settings.py

# IDE files

# Docker
Dockerfile
docker-compose.yml

# Ignore Python cache files
__pycache__/
*.pyc
