<div class="details-container">
    <h2>Norseman Details</h2>
    <div *ngIf="norseman">
      <img [src]="norseman.photo" alt="{{viking.name}}" width="150">
      <div>
        <strong>Name:</strong> {{norseman.name}}
      </div>
      <div>
        <strong>Actor Name:</strong> {{norseman.actorName}}
      </div>
      <div>
        <strong>Character Name:</strong> {{norseman.characterName}}
      </div>
      <div>
        <strong>Description:</strong> {{norseman.description}}
      </div>
      <button class="entity-table__button entity-table__button--edit" [routerLink]="['../edit', norseman.id]">Edit</button>
      <button class="entity-table__button entity-table__button--back" (click)="goBack()">Back</button>
    </div>
  </div>
  